.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    height: 100vh;
  }
  
.loginBox {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
}

.loginForm {
  max-width: 300px;
  width: 100%;
  min-height: 60vh;
}

.logo {
  display: block;
  margin: 30px auto 70px;
  height: 35px;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* background: transparent; */
  background-color:  rgba(186, 186, 186, 0.1);
}

.socialLogin {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  max-width: 400px;

}

.socialLogin button {
  flex: 1;
  margin: 5px;
  padding: 3px;
  border: solid 1px #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.facebookBtn { background: #2b67e7; color: #fff;}
.googleBtn { background: #fff; color: #fff;}
.appleBtn { background: #000; color: #fff; }
.xboxBtn { background: #107c10; color: #fff; }
.psBtn { background: #003087; color: #fff; }

.facebookBtn img, .googleBtn img, .appleBtn img, .xboxBtn img{
  width: 20px;
}

.psBtn img{
  width: 30px;
}

.container label {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 150px;
  margin-left: 5px;
}

.checkbox {
  margin-right: 10px; 
  margin-bottom: 2px;

}

.submitBtn {
  width: 30%;
  padding: 10px 20px;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: white;
  margin: 0 auto;
  display: block;
  min-height: 3rem;
}


.helpText {
  text-align: center;
  margin-top: 200px;
}

.container a {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: rgb(75, 75, 75);
    
}

.container a:hover {
 color: black;
}

.imageBox {
  width: 100%;
  overflow: hidden;
  background-image: url(../../assets/bg_vava.jpg);
  background-size: cover;
  background-position: center;
}