* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.login-box {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
}

.login-form {
  max-width: 300px;
  width: 100%;
}

.logo {
  display: block;
  margin: 0 auto 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.social-login {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.social-login .btn {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.social-login .btn.facebook { background: #3b5998; color: #fff; }
.social-login .btn.google { background: #db4437; color: #fff; }
.social-login .btn.apple { background: #000; color: #fff; }
.social-login .btn.xbox { background: #107C10; color: #fff; }
.social-login .btn.playstation { background: #003087; color: #fff; }

label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.submit-btn {
  width: 50%;
  padding: 10px 20px;
  align-items: center;
  background-color: #ff4500;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.help-text {
  text-align: center;
  margin-top: 10px;
}

.help-text a {
  color: #ff4500;
  text-decoration: none;
}

.image-box {
  width: 100%;
  overflow: hidden;
  background-image: url(./assets/bg_vava.jpg);
  background-size: cover;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}